.header{
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid #80D8FF;
}

.header .logo{
    width: 12%;
}

.go-up svg{
    position: fixed;
    bottom: 50px;
    left: 5px;
    background-color: #80D8FF;
    padding: 15px;
    border-radius: 50%;
    z-index: 99;
}

/* #F0F8FF  (Alice Blue – very pale)
#E6F7FF
#D6F0FF
#CCEFFF
#B3E5FC
#A7D8FF
#99CCFF
#87CEFA  (Light Sky Blue)
#80D8FF
#66B2FF
 */