.homepage{
    margin: 10px 0 0 5px;
}

.homepage .find{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 5px;
}

.homepage .find ::placeholder{
    font-size: 16px;
}

.homepage .find .search{
    border: 1px solid black;
    padding: 10px;
    width: 68%;
    font-size: 16px;
    outline: none;
}

.homepage .find .search:focus{
    box-shadow: 0 0 5px #80D8FF;
    border: 1px solid #80D8FF;
}

.homepage .find .date{
    border: 1px solid black;
    padding: 10px;
    margin-right: 10px;
    width: 30%;
    font-size: 16px;
}

.homepage .post{
    margin: 50px;
}

.homepage .post .details{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.homepage .post .asr-date{
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 5px;
}

.homepage .post .asr{
    font-weight: bold;
    font-size: 20px;
}

.homepage .post svg{
    margin-left: 5px;
    padding: 2px;
    transition: 0.3s ease-in-out;
}

.homepage .post .fav svg:hover{
    color: red;
    stroke: red;
}

.homepage .post .edit svg:hover{
    color: #80D8FF;
    stroke: #80D8FF;
}

.homepage .post .delete svg:hover{
    color: gray;
}

.homepage .post .caption .text{
    font-size: 18px;
}

.homepage .post .caption #text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.homepage .post .caption .more{
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.homepage .post img{
    margin-top: 20px;
}