body{
    margin: 0;
    font-family: 'outfit', sans-serif;
}

svg{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #80D8FF;
}

a{
    text-decoration: none;
    color: black;
}